
.card {
    position: relative;
    background-color: rgb(69, 113, 255);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(30, 50, 105);
    margin-bottom:5px;
    width:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}


.cardBank{
    border:2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding:5px;
    margin:5px;
    margin-top:55px;
    width:20%;
    height:100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 15pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.sectionTitle{ /*this will be the css for all section titles including in quarters*/
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    font-weight: bold;
    border-bottom: 2px solid black;
    margin:0px;
    border-bottom-width: 100%;
    margin-bottom:5px;
}
