
.card {
    background-color: rgb(143, 161, 223);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(30, 50, 105);
    margin-bottom:5px;
}

.cardBank{
    margin-left:2px;
    width:20%;
    background-color: rgb(234,234,242);
}

.title {
    font-size: 15pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.sectionTitle{ /*this will be the css for all section titles including in quarters*/
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    font-weight: bold;
    border-bottom: 2px solid black;
    margin:0px;
    border-bottom-width: 100%;
    margin-bottom:5px;
}
