
.card {
    background-color: rgb(60, 98, 224);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(30, 50, 105);
    margin-bottom:5px;
}

.title {
    font-size: 15pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}