
.quarter {
    width: 100%;
    height: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px;
    background-color:rgb(208, 208, 241);
}

.year{
    display:flex;
    height:25%;
    width:auto;
    background-color: aqua;
}
