.classlist {
    width: 24%;
    height: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px;
    background-color:rgb(255, 255, 255)
}

.sectionTitle{ /*this will be the css for all section titles including in quarters*/
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    font-weight: bold;
    border-bottom: 2px solid black;
    margin:0px;
    margin-bottom:5px;
}