.wrapper{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.search-top{
    width: 100%;
}

.search {
    width: 75%;
}

.search input {
    width: 100%;
    padding: 15px 25px;
    font-size: 18px;
}

.search-results {
    width: 100%;
    background-color: white;
    margin: 10px 0;
}

.search-result {
    padding: 10px 25px;
    border-radius: 5px;
}

.search-result:hover {
    background-color: grey;
}